<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364266574381-eari38f0ug9e71q7efunf7sbn95j19le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364266574381-eari38f0ug9e71q7efunf7sbn95j19le</string>
	<key>API_KEY</key>
	<string>AIzaSyALdlSRfHir4W8DsXca1A8Il9pQjeCidIc</string>
	<key>GCM_SENDER_ID</key>
	<string>364266574381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Grupo-de-estudio.DragonBallSwift</string>
	<key>PROJECT_ID</key>
	<string>dragonball-94f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>dragonball-94f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364266574381:ios:bc173a8ad025df8ddedea4</string>
</dict>
</plist>